<ion-header>
  <ion-toolbar>
    <ion-title>Ionic App</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="greet()">
        <ion-icon slot="icon-only" name="hand-left-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full min-h-full p-4 bg-gray-100 dark:bg-gray-900">
    <p>Hello, World!</p>
  </div>
</ion-content>
